# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
/data/*
!data/.gitkeep

# OS junk
.DS_Store
Thumbs.db
