mtg_mill_simulation/data/cleaned_mill_data.csv
mtg_mill_simulation/data/full_rem.csv
mtg_mill_simulation/data/half_rem.csv
mtg_mill_simulation/data/low_kill_outliers.csv
mtg_mill_simulation/data/no_rem.csv
